*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache
.phpunit.cache/

.codex/
.claude/
.cursor/
.idea/
.nova/
.vscode/
.zed/

auth.json

node_modules/
vendor/

public/build/
public/hot
public/storage

storage/*.key
storage/pail/

_ide_helper.php

Homestead.json
Homestead.yaml